/*Start Variables Colors Pages*/
$mainColor-1: #48D864;
$mainColor-2: #000000;
/*End Variables Colors Pages*/

/*Start Variables Float Diraction*/
$float-left: left;
$float-right: right;
/*End Variables Float Diraction*/

/*Start Variables Helprs*/
$text-upper: uppercase;
$text-lower: lowercase;
/*Start Variables Helprs*/
