doctype html
html(lang = 'en')
  head
    meta(charset = 'utf-8')
    meta(http-equiv = "X-UA-Compatible", content = "iE=edge")
    meta(name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    block TitlePage
      title Delivery Express
    link(rel="shortcut icon", href="./image/logo.png", type="image/x-icon")
    //- link(rel=rel='stylesheet' href = 'https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap')
    link(rel = 'stylesheet', href = './file.css/bootstrap.css')
    link(rel = 'stylesheet', href = './file.css/bootstrap-editor.css')
    link(rel = 'stylesheet', href = './file.css/all.css')
    link(rel = 'stylesheet', href = './file.css/style.css')
    link(rel = 'stylesheet', href = './file.css/style.ar.css')
    <!-- [if lt IE 9]>
      script(src = './file.js/html5shiv.min.js')
      script(src = './file.js/respond.min.js')
    <![endif]-->
  body
    block Header
      // start header
      header
        // use navbar Bootstrp 4
        nav(class="navbar navbar-expand-lg home pt-4")
          a(class="navbar-brand m-0" href="./index.html")
            img(src="./image/logo.png" width="226" height="100" alt="" loading="lazy")
            img.bg-body(src="./image/Path-91-1.png", alt="", srcset="")
          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span: i.far.fa-bars
          div(class="collapse navbar-collapse text-right" id="navbarSupportedContent")
            ul(class="navbar-nav ml-auto d-inline-block d-lg-flex")
              li(class="nav-item")
                a(class="nav-link" href="#") Home 
              li(class="nav-item")
                a(class="nav-link" href="#") Features
              li(class="nav-item")
                a(class="nav-link" href="#") Services
              li(class="nav-item")
                a(class="nav-link" href="#") Download
              li(class="nav-item")
                a(class="nav-link" href="#") Contact Us
              li(class="nav-item d-inline-block")
                a(class="nav-link" href="#") GET STARTED
        .info
          // container Bootstrap 4
          .container
            // grid system Bootstrap 4
            .row
              .col-sm-12.col-lg-6.text
                h2 Delivery #[br] xpress
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                button.btn GET STARTED
    // End Header
    |
    |
    // Start section servers
    section.servers.mt-5.text-center
      // container Bootstrap 4
      .container
        // grid system Bootstrap 4
        .row
          .col-sm-12.col-md-6.col-lg-4.my-3.creative
            .container-el
              .cont-img
                img(src="./image/creativity.png", alt="", srcset="")
              h5 Creative Design
              p Proactively syndicate open-source e-markets after low-risk
          .col-sm-12.col-md-6.col-lg-4.my-3.support
            .container-el
              .cont-img
                img(src="./image/creativity-2.png", alt="", srcset="")
              h5 Free support
              p Proactively syndicate open-source e-markets after low-risk
          .col-sm-12.col-md-12.col-lg-4.my-3.exclusive
            .container-el
              .cont-img
                img(src="./image/creativity-3.png", alt="", srcset="")
              h5 Exclusive Design
              p Proactively syndicate open-source e-markets after low-risk                            
    // End section servers
    |
    |
    // Start section business
    section.business.py-5.my-5
      // container Bootstrap 4
      .container
        // grid system Bootstrap 4
        .row
          .col-sm-12.col-md-6.app
            .cont
              img(src="./image/phone.png", alt="", srcset="")
          .col-sm-12.col-md-6.some-business
            .row
              .col-sm-12.title
                h2 Make Business Easy With Us
                p Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incidit labore lorem
              .col-sm-12.col-lg-5.text
                .container-el
                  p Intrinsically aggregate cutting-edge internal or "organic" sources through pandemic.
              .col-sm-12.col-lg-7.text
                .container-el
                  p Intrinsically aggregate cutting-edge internal or "organic" sources through pandemic.
              .col-sm-12.col-lg-5.text
                .container-el
                  p Intrinsically aggregate cutting-edge internal or "organic" sources through pandemic.
              .col-sm-12.col-lg-7.text
                .container-el
                  p Intrinsically aggregate cutting-edge internal or "organic" sources through pandemic.                                    
    // End section business
    |
    |
    // Start section professional
    section.professional.py-5.my-5
      // grid system Bootstrap 4
      .row.mx-0
        img.bg-professional(src="./image/Path-91-1.png", alt="", srcset="")
        .col-sm-12.col-md-6.title.my-3.text-center.text-md-left
          .container-el.pl-md-5
            h2 Hire professional Oppi app #[br] Makers to build your apps.
            p Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod #[br] tempor coli incidit labore lorem
        .col-sm-12.col-md-6.my-3
          .cont
            img(src="./image/responsive.png", alt="", srcset="")            
    // End section business
    |
    |
    // Start section deliver 
    section.deliver.py-5.my-5
      // grid system Bootstrap 4
      .row.mx-0
        .col-sm-12.col-md-6.title.my-3.text-center.text-md-left
          .container-el.pl-md-5
            h2 We deliver - tradditional #[br] takeaway and more
            p Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod #[br] tempor coli incidit labore lorem
        .col-sm-12.col-md-6.my-3
          .cont
            img(src="./image/deliver.png", alt="", srcset="")            
    // End section deliver 
    |
    |
    // Start section services-pocket
    section.services-pocket.py-5.my-5
      // grid system Bootstrap 4
      .row.mx-0
        .col-sm-12.col-md-6.my-5
          .cont.ml-md-5
            img(src="./image/services-pocket.png", alt="", srcset="")
        .col-sm-12.col-md-6.title
          h2 Services in your #[br] pocket
          p Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod #[br] tempor coli incidit labore lorem
          .container-el
            button.btn.mr-3: img(src="./image/google.png", alt="", srcset="")
            button.btn: img(src="./image/app.png", alt="", srcset="")
    // End section services-pocket 
    |
    |
    // Start section Contact Us
    section.contact-us.py-5.my-5
      // grid system Bootstrap 4
      .row.mx-0
        img.bg-contact-us.d-none.d-md-block(src="./image/Information.png", alt="", srcset="")
        .col-sm-12.col-md-6.contact-form.mb-5
          .container-el.ml-md-5
            h2 Contact Us
            p Feel free to contact us any time. We will get #[br] back to you as soon as we can !
            form
              // form  Bootstrap 4
              .form-row.flex-column
                .form-group.col-sm-8
                  input(type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name")
                .form-group.col-sm-8
                  input(type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email Address")                         
                .form-group.col-sm-8
                  textarea(class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message")
                .form-group.col-sm-8
                  button(type="submit" class="btn btn-primary") Send
        .col-sm-12.col-md-5.contact-info
          .container-el
            // grid system Bootstrap 4
            .row
              .col-sm-12.title
                h5 Information
            // grid system Bootstrap 4
            .row.justify-content-around.mb-5
              .col-sm-5.col-md-12.col-lg-4.text-center.text-sm-left.text-md-center.text-lg-left.email.p-0
                ul
                  // use Font Awesome 5
                  li #[i.fal.fa-envelope] Email Adderss
                  li help@deliveryexpress.net
                  li support@deliveryexpress.net
                  li career@deliveryexpress.net
              .col-sm-5.col-md-12.col-lg-4.text-center.text-sm-left.text-md-center.text-lg-left.number.p-0
                ul
                  // use Font Awesome 5
                  li #[i.fal.fa-mobile] Mobile
                  li (+996) 5555 333
                  li (+996) 5555 333
                  li (+996) 5555 333
            .row
              .col-sm-12.col-md-1
              .col-sm-12.col-md-11.p-0.media.text-center.text-sm-left.text-md-center.text-lg-left.ml-sm-4.ml-md-0
                ul
                  li Follow Us
                  // use Font Awesome 5
                  li: i.fab.fa-facebook-f
                  li: i.fab.fa-twitter
                  li: i.fab.fa-instagram
                  li: i.fab.fa-snapchat-ghost
                  li: i.fab.fa-youtube                        

    // End section Contact Us
    |
    |
    // Start Footer
    footer.mt-5
      .row.mx-0.text-center.text-md-left
        .col-sm-12.col-md-6.col-lg-4.info.my-3
          .cont
            img(src="./image/logo.png" width="226" height="100" alt="" loading="lazy")
          .cpy
            span © 2020 Delivery Xpress, LLC. #[br] All rights reserved Proudly made in 4SOFT
          ul
            // use Font Awesome 5
            li: i.fab.fa-facebook-f
            li: i.fab.fa-twitter
            li: i.fab.fa-instagram
            li: i.fab.fa-snapchat-ghost
            li: i.fab.fa-youtube
        .col-sm-12.col-md-6.col-lg-4.links.my-3
          h3 Quick Links
          .container-ul.justify-content-center.justify-content-md-start
            ul
              li: a(href="#") Home
              li: a(href="#") Download
              li: a(href="#") About Us
            ul
              li: a(href="#") Features
              li: a(href="#") Contact Us
              li: a(href="#") Services
        .col-sm-12.col-md-12.col-lg-4.subscribe.my-3
          h3 Newsletter
          form
            .form-group
              label(for="exampleInputEmail1") Email Address :
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <button type="submit" class="btn">Subscribe</button>
    // End Footer
    block script-all
      script(src = './file.js/popper.js')
      script(src = './file.js/jquery-3.3.1.min.js')
      script(src = './file.js/bootstrap.min.js')
      script(src = './file.js/app.js')
